@inherits LayoutComponentBase

<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-success border-bottom mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="favicon.png" alt="Бренд" width="30" height="30" class="d-inline-block align-text-top">
            </a>
            <a class="navbar-brand" href="/blazorlab/" @onclick="SelectMenu">
                blazorlab
            </a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
@*            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
            <div class="navbar-collapse @NavMenuCssClass">
                <MenuPartial OnClickCallback="@SelectMenu" />
@*                <div class="d-flex">
                    <a class="btn btn-success text-white me-1" href="counter">
                        <i class="fa fa-arrow-left"></i>
                        Назад
                    </a>
                </div>*@
            </div>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void SelectMenu()
    {
        collapseNavMenu = true;
    }
}